<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>FindMatch - Member profile</title>
    <link href="/css/lightbox.min.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript">
        function toggleDisplay(el)
        {
            var nextSibling = el;
            do nextSibling = nextSibling.nextSibling;
            while (nextSibling && nextSibling.nodeType != 1);
            nextSibling.style.display = (nextSibling.style.display == 'block') ? 'none' : 'block';
        }


    </script>
    <style type="text/css">
        html { background: #999; }
        body {
            font-family: "Lucida Grande", "Lucida Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 13px;
            background: #999;
            color: #444;
            margin: 0;
            padding: 0;
            border: 0;
        }

        h1, h2, h3, h4, h5, h6 {
            line-height: 1.1em;
            margin: 0 0 20px 0;
        }

        h1 { font-size: 24px; }
        h2 { font-size: 20px; }
        h3 { font-size: 16px; }
        h4 { font-size: 14px; }
        h5 { font-size: 12px; }
        h6 { font-size: 12px; font-style: italic;}


        .break {
            clear: both;
        }

        a img { border: none; }

        #navbar a {
            color: #444;
            text-decoration: none;
            border-bottom: 1px solid #aaa;
        }

        #navbar a:hover {
            border-bottom: 1px solid #000;
        }

        #wrapper {
            width: 850px;
            margin: 0 auto;
            background: #fff;
            padding: 20px;
            border: 2px solid #888;
            border-top: none;
        }

        #header {
            border-bottom: 1px solid #ddd;
            margin-bottom: 15px;
            padding-bottom: 5px;
            font-size: 24px;
        }

        #content {
            width: 660px;
            margin: 0px 0 0 20px;
            float: left;
            line-height: 1.5em;
        }

        .col1, .col2 {
            width: 310px;
            float: left;
        }

        .col1 {
            margin-right: 40px;
        }

        #navbar {
            width: 150px;
            float: left;
            line-height: 1.3em;
        }

        #navbar ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        #navbar ul li ul {
            margin-left: 10px;
        }

        #navbar ul li {
            margin: 7px 0;
        }

        #navbar ul li.currentOpenedPage a {
            background: #ddd;
        }

        #navbar ul li.currentOpenedPage li a {
            background: none;
        }

        .imageleft {
            float: left;
            margin-right: 15px;
        }

        .imageright {
            float: right;
            margin-left: 15px;
        }

        /*
         * Preview Toolbar
         */
        #previewToolbar {
            background: #222;
            color: #ddd;
            height: 25px;
            line-height: 25px;
            width: 100%;
            font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
            font-size: 11px;
            /*	text-align: center;*/
        }

        #previewToolbar p {
            width: 870px;
            margin: 0 auto;
        }

        #previewToolbar a {
            color: #eee;
            border: none;
            text-decoration: none;
        }

        #previewToolbar a:hover { color: #fff; }
        #previewToolbar a.active { text-decoration: underline; }

    </style>
</head>
<body>
<script src="/js/lightbox.min.js"></script>
<div id="wrapper">
    <div id="header">Find Match</div>
    <div id="content">
        {% include 'includes/menu.html' %}
        <br/>

        {% if loggedIn %}
        {% include 'includes/submenu.html' %}
        {% endif %}
        <br />

        <h1>{% trans "Member profile" %}</h1>

        <table>
            <tr>
                <td>
                    {% if hasPhoto %}
                    <a href="/photos/{{ photoFileName }}" data-lightbox="image-1" data-title="{{ anotherMember.nickname }}">
                        <img src="/photos/thumb_{{ photoFileName }}">
                    </a>
                    {% endif %}
                </td>
                <td>{{ anotherMember.nickname }}
                    <br />
                    <br />
                    <div class="imageright"><img src="images/Dual.JPG" alt="Dual.jpg" /></div><br />

                    {% if myProfile %}
                    {% include 'relations/du.html' %}
                    {% else %}
                    {% if anotherMember.relations == 'Du' %}
                    {% include 'relations/du.html' %}
                    {% elseif anotherMember.relations == 'Ac' %}
                    {% include 'relations/ac.html' %}
                    {% elseif anotherMember.relations == 'Sd' %}
                    {% include 'relations/sd.html' %}
                    {% elseif anotherMember.relations == 'Mg' %}
                    {% include 'relations/mg.html' %}
                    {% elseif anotherMember.relations == 'Mr' %}
                    {% include 'relations/mr.html' %}
                    {% elseif anotherMember.relations == 'Id' %}
                    {% include 'relations/id.html' %}
                    {% elseif anotherMember.relations == 'Cp' %}
                    {% include 'relations/cp.html' %}
                    {% elseif anotherMember.relations == 'Cg' %}
                    {% include 'relations/cg.html' %}
                    {% elseif anotherMember.relations == 'QI' %}
                    {% include 'relations/qi.html' %}
                    {% elseif anotherMember.relations == 'Ex' %}
                    {% include 'relations/ex.html' %}
                    {% elseif anotherMember.relations == 'Se' %}
                    {% include 'relations/se.html' %}
                    {% elseif anotherMember.relations == 'Cf' %}
                    {% include 'relations/cf.html' %}
                    {% elseif anotherMember.relations == 'Rq+' %}
                    {% include 'relations/rqplus.html' %}
                    {% elseif anotherMember.relations == 'Rq-' %}
                    {% include 'relations/rqminus.html' %}
                    {% elseif anotherMember.relations == 'Sv+' %}
                    {% include 'relations/svplus.html' %}
                    {% elseif anotherMember.relations == 'Sv-' %}
                    {% include 'relations/svminus.html' %}
                    {% endif %}
                    {% endif %}

                    <table>
                        <tr>
                            <td>
                                <form action="javascript:void(null)" method="post" id="likeForm">
                                    <input type="hidden" name="command" value="like">
                                    <input type="hidden" name="anotherUserId" value="{{ anotherMember.id }}">
                                    <input type="submit" id="like" value={% trans "Like" %}{% if likeDisabled %} disabled{% endif %}>
                                </form>
                            </td>
                            <td>
                                <form action="javascript:void(null)" method="post">
                                    {% if paid or mutualLike %}
                                    <input type="submit" id="sendAMessage" data-id="{{ anotherMember.id }}" value={% trans "Send a message" %}>
                                    {% endif %}
                                </form>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "I am" %}:</strong></td>
                <td>{{ anotherMember.iam }}</td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Looking for" %}:</strong></td>
                <td>{{ anotherMember.lookingFor }}</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;"><strong>{% trans "General" %}</strong></td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Gender" %}:</strong></td>
                <td>
                    {% if anotherMember.gender == 1 %}
                    {% trans "male" %}
                    {% else %}
                    {% trans "female" %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Age" %}:</strong></td>
                <td>{{ anotherMember.age }}</td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Living" %}:</strong></td>
                <td>
                    {% if anotherMember.livingCity != 0 %}
                    {% set cityName = anotherMember.cityName %}
                    {% trans cityName %}
                    {% endif %}
                    {% if anotherMember.livingCountry != 0 %}
                    {% set countryName = anotherMember.countryName %}
                    {% trans countryName %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Sociotype" %}:</strong></td>
                <td>
                    {% if anotherMember.sociotype != 0 %}
                    {% set code = socionicsCodes[anotherMember.sociotype] %}
                    {% if code == 'ESTJ' %}
                    {% trans "ESTJ_title" %}
                    {% elseif code == 'ENTJ' %}
                    {% trans "ENTJ_title" %}
                    {% elseif code == 'ESFJ' %}
                    {% trans "ESFJ_title" %}
                    {% elseif code == 'ENFJ' %}
                    {% trans "ENFJ_title" %}
                    {% elseif code == 'ESTP' %}
                    {% trans "ESTP_title" %}
                    {% elseif code == 'ESFP' %}
                    {% trans "ESFP_title" %}
                    {% elseif code == 'ENTP' %}
                    {% trans "ENTP_title" %}
                    {% elseif code == 'ENFP' %}
                    {% trans "ENFP_title" %}
                    {% elseif code == 'ISTJ' %}
                    {% trans "ISTJ_title" %}
                    {% elseif code == 'INTJ' %}
                    {% trans "INTJ_title" %}
                    {% elseif code == 'ISFJ' %}
                    {% trans "ISFJ_title" %}
                    {% elseif code == 'INFJ' %}
                    {% trans "INFJ_title" %}
                    {% elseif code == 'ISTP' %}
                    {% trans "ISTP_title" %}
                    {% elseif code == 'ISFP' %}
                    {% trans "ISFP_title" %}
                    {% elseif code == 'INTP' %}
                    {% trans "INTP_title" %}
                    {% elseif code == 'INFP' %}
                    {% trans "INFP_title" %}
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;"><strong>{% trans "Appearance" %}</strong></td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Height" %}:</strong></td>
                <td>
                    {% if anotherMember.height != 0 %}
                    {{ anotherMember.height }} {% trans "cm" %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Hair color" %}:</strong></td>
                <td>
                    {% if anotherMember.hairColor != 0 %}
                    {% set hairColor = substitutions.hairColor[anotherMember.hairColor] %}{% trans hairColor %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Hair length" %}:</strong></td>
                <td>
                    {% if anotherMember.hairLength != 0 %}
                    {% set hairLength = substitutions.hairLength[anotherMember.hairLength] %}{% trans hairLength %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Hair type" %}:</strong></td>
                <td>
                    {% if anotherMember.hairType != 0 %}
                    {% set hairType = substitutions.hairType[anotherMember.hairType] %}{% trans hairType %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Eye color" %}:</strong></td>
                <td>
                    {% if anotherMember.eyeColor != 0 %}
                    {% set eyeColor = substitutions.eyeColor[anotherMember.eyeColor] %}{% trans eyeColor %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Eye wear" %}:</strong></td>
                <td>
                    {% if anotherMember.eyeWear != 0 %}
                    {% set eyeWear = substitutions.eyeWear[anotherMember.eyeWear] %}{% trans eyeWear %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Weight" %}:</strong></td>
                <td>
                    {% if anotherMember.weight != 0 %}
                    {{ anotherMember.weight }} {% trans "kg" %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "BMI" %}:</strong></td>
                <td>
                    {% if anotherMember.BMI != 0 %}
                    {% set BMI = substitutions.BMI[anotherMember.BMI] %}{% trans BMI %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Body type" %}:</strong></td>
                <td>
                    {% if anotherMember.bodyType != 0 %}
                    {% set bodyType = substitutions.bodyType[anotherMember.bodyType] %}{% trans bodyType %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Ethnicity" %}:</strong></td>
                <td>
                    {% if anotherMember.ethnicity != 0 %}
                    {% set ethnicity = substitutions.ethnicity[anotherMember.ethnicity] %}{% trans ethnicity %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Body art" %}:</strong></td>
                <td>
                    {% if anotherMember.bodyArt != 0 %}
                    {% set bodyArt = substitutions.bodyArt[anotherMember.bodyArt] %}{% trans bodyArt %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;"><strong>{% trans "Lifestyle" %}</strong></td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Drinking" %}:</strong></td>
                <td>
                    {% if anotherMember.drinking != 0 %}
                    {% set drinking = substitutions.drinking[anotherMember.drinking] %}{% trans drinking %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Smoking" %}:</strong></td>
                <td>
                    {% if anotherMember.smoking != 0 %}
                    {% set smoking = substitutions.smoking[anotherMember.smoking] %}{% trans smoking %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Marital status" %}:</strong></td>
                <td>
                    {% if anotherMember.maritalStatus != 0 %}
                    {% set maritalStatus = substitutions.maritalStatus[anotherMember.maritalStatus] %}{% trans maritalStatus %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Kids" %}:</strong></td>
                <td>
                    {% if anotherMember.kids != 0 %}
                    {% set kids = substitutions.kids[anotherMember.kids] %}{% trans kids %}
                    {% endif %}
                </td>
            </tr>
            {% if anotherMember.kids > 1 %}
            <tr>
                <td style="text-align:right;"><strong>{% trans "Number of kids" %}:</strong></td>
                <td>{{ anotherMember.numberOfKids }}</td>
            </tr>
            {% endif %}
            <tr>
                <td style="text-align:right;"><strong>{% trans "Want more kids" %}:</strong></td>
                <td>
                    {% if anotherMember.wantMoreKids != 0 %}
                    {% set wantMoreKids = substitutions.wantMoreKids[anotherMember.wantMoreKids] %}{% trans wantMoreKids %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Employment status" %}:</strong></td>
                <td>
                    {% if anotherMember.employmentStatus != 0 %}
                    {% set employmentStatus = substitutions.employmentStatus[anotherMember.employmentStatus] %}{% trans employmentStatus %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Field" %}:</strong></td>
                <td>
                    {% if anotherMember.field != 0 %}
                    {% set field = substitutions.field[anotherMember.field] %}{% trans field %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Annual Income" %}:</strong></td>
                <td>
                    {% if anotherMember.annualIncome != 0 %}
                    {% set annualIncome = substitutions.annualIncome[anotherMember.annualIncome] %}{% trans annualIncome %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Residence" %}:</strong></td>
                <td>
                    {% if anotherMember.residence != 0 %}
                    {% set residence = substitutions.residence[anotherMember.residence] %}{% trans residence %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Religion" %}:</strong></td>
                <td>
                    {% if anotherMember.religion != 0 %}
                    {% set religion = substitutions.religion[anotherMember.religion] %}{% trans religion %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Education" %}:</strong></td>
                <td>
                    {% if anotherMember.education != 0 %}
                    {% set education = substitutions.education[anotherMember.education] %}{% trans education %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>{% trans "Willing to relocate" %}:</strong></td>
                <td>
                    {% if anotherMember.willing2Relocate != 0 %}
                    {% set willing2Relocate = substitutions.willing2Relocate[anotherMember.willing2Relocate] %}{% trans willing2Relocate %}
                    {% endif %}
                </td>
            </tr>
        </table>

    </div>
    <div class="break"></div>
</div>
</body>
<script src="/js/main.js"></script>
<script src="/js/view.js"></script>
</html>
