RewriteEngine On

RewriteBase /

#
# About
#
RewriteRule ^(about|howitworks|whyitworks|detailed|options)/*$ "about.php?what=$1" [QSA] [L]

#
# Ajax
#
RewriteRule ^ajax/changelang/*$ "ajax/changelang.php"
RewriteRule ^ajax/checklogin/*$ "ajax/checklogin.php"
RewriteRule ^ajax/checkloginpwd/*$ "ajax/checkloginpwd.php"
RewriteRule ^ajax/msgs/*$ "ajax/msgs.php"
RewriteRule ^ajax/profile/*$ "ajax/profile.php"
RewriteRule ^ajax/remindpwd/*$ "ajax/remindpwd.php"
RewriteRule ^ajax/report/*$ "ajax/report.php"
RewriteRule ^ajax/search/*$ "ajax/search.php"
RewriteRule ^ajax/upload/* "ajax/upload.php"

#
# Articles
#
RewriteRule ^articles/*$ "articles.php" [QSA] [L]
RewriteRule ^articles/(.*) "articles.php?what=$1" [QSA] [L]

#
# Auth
#
RewriteRule ^(vkauth|googleauth|fbauth)$ "auth.php?what=$1" [QSA] [L]

#
# Landing
#
#RewriteRule ^index\.php$ "landing.php" [QSA] [L]
#RewriteRule ^(index|thanks)/*$ "landing.php?what=$1" [QSA] [L]
RewriteRule ^key/([a-z0-9]{10})/*$ "landing.php?what=index&inviteToken=$1" [QSA] [L]

#
# Messages
#
RewriteRule ^messages/send/([a-zA-Z0-9]{24})/*$ "messages.php?what=send&anotherUserId=$1" [QSA] [L]
RewriteRule ^messages/*$ "messages.php" [QSA] [L]

#
# Profile
#
RewriteRule ^profile/view/([a-zA-Z0-9]{24})/*$ "profile.php?what=view&anotherUserId=$1" [QSA] [L]
RewriteRule ^(login|logout|invite|profile|analytics|email)/*$ "profile.php?what=$1" [QSA] [L]
RewriteRule ^restore/([a-z0-9]{10})/*$ "profile.php?what=restore&token=$1" [QSA] [L]

#
# Purchase
#
RewriteRule ^purchase/*$ "purchase.php" [QSA] [L]

#
# Register
#
RewriteRule ^register/*$ "register.php" [QSA] [L]

#
# Relations
#
RewriteRule ^relations/*$ "relations.php" [QSA] [L]
RewriteRule ^relations/(.*) "relations.php?what=$1"

#
# Report abuse
#
RewriteRule ^report/([a-zA-Z0-9]{24})/*$ "report.php?anotherUserId=$1" [QSA] [L]

#
# Search
#
RewriteRule ^index\.php$ "search.php" [QSA] [L]
RewriteRule ^index/*$ "search.php" [QSA] [L]
RewriteRule ^edit/([a-zA-Z0-9]{24})/*$ "search.php?what=edit&searchId=$1" [QSA] [L]
RewriteRule ^run/([a-zA-Z0-9]{24})/*$ "search.php?what=run&searchId=$1" [QSA] [L]
RewriteRule ^run/default/*$ "search.php?what=run&searchId=default" [QSA] [L]
RewriteRule ^(search|saved|new|run|save)/*$ "search.php?what=$1" [QSA] [L]

#
# Test
#

RewriteRule ^segyhkahgccv9xm/(instructions|test|results)/*$ "testunreg.php?what=$1" [QSA] [L]
RewriteRule ^(instructions|test|results)/*$ "test.php?what=$1" [QSA] [L]

#
# Unsubscribe
#
RewriteRule ^unsubscribe/([a-zA-Z0-9]{24})/*$ "profile.php?what=unsubscribe&userId=$1" [QSA] [L]