<p>{% trans "ENFJ_title" %}</p>

<p>{% trans "ENFJ_description_1" %}</p>

<p>{% trans "ENFJ_description_2" %}</p>

<p>{% trans "ENFJ_description_3" %}</p>

<p>{% trans "ENFJ_description_4" %}</p>

<p>{% trans "ENFJ_description_5" %}</p>

<p>{% trans "ENFJ_description_6" %}</p>

<p>{% trans "ENFJ_description_7" %}</p>

<p>{% trans "ENFJ_description_8" %}</p>

<p>{% trans "ENFJ_description_9" %}</p>

<p>{% trans "ENFJ_description_10" %}</p>

<p>{% trans "ENFJ_description_11" %}</p>

<p>{% trans "ENFJ_description_12" %}</p>

<p>{% trans "ENFJ_description_13" %}</p>

<p>{% trans "ENFJ_description_14" %}</p>

<p><sub>{% trans "All_description" %}</sub></p>
