<p>{% trans "ENFP_title" %}</p>

<p>{% trans "ENFP_description_1" %}</p>

<p>{% trans "ENFP_description_2" %}</p>

<p>{% trans "ENFP_description_3" %}</p>

<p>{% trans "ENFP_description_4" %}</p>

<p>{% trans "ENFP_description_5" %}</p>

<p>{% trans "ENFP_description_6" %}</p>

<p>{% trans "ENFP_description_7" %}</p>

<p>{% trans "ENFP_description_8" %}</p>

<p>{% trans "ENFP_description_9" %}</p>

<p>{% trans "ENFP_description_10" %}</p>

<p>{% trans "ENFP_description_11" %}</p>

<p>{% trans "ENFP_description_12" %}</p>

<p>{% trans "ENFP_description_13" %}</p>

<p>{% trans "ENFP_description_14" %}</p>

<p>{% trans "ENFP_description_15" %}</p>

<p><sub>{% trans "All_description" %}</sub></p>
