<p>{% trans "INFJ_title" %}</p>

<p>{% trans "INFJ_description_1" %}</p>

<p>{% trans "INFJ_description_2" %}</p>

<p>{% trans "INFJ_description_3" %}</p>

<p>{% trans "INFJ_description_4" %}</p>

<p>{% trans "INFJ_description_5" %}</p>

<p>{% trans "INFJ_description_6" %}</p>

<p>{% trans "INFJ_description_7" %}</p>

<p>{% trans "INFJ_description_8" %}</p>

<p>{% trans "INFJ_description_9" %}</p>

<p>{% trans "INFJ_description_10" %}</p>

<p>{% trans "INFJ_description_11" %}</p>

<p>{% trans "INFJ_description_12" %}</p>

<p>{% trans "INFJ_description_13" %}</p>

<p><sub>{% trans "All_description" %}</sub></p>
