<p>{% trans "INTP_title" %}</p>

<p>{% trans "INTP_description_1" %}</p>

<p>{% trans "INTP_description_2" %}</p>

<p>{% trans "INTP_description_3" %}</p>

<p>{% trans "INTP_description_4" %}</p>

<p>{% trans "INTP_description_5" %}</p>

<p>{% trans "INTP_description_6" %}</p>

<p>{% trans "INTP_description_7" %}</p>

<p>{% trans "INTP_description_8" %}</p>

<p>{% trans "INTP_description_9" %}</p>

<p>{% trans "INTP_description_10" %}</p>

<p>{% trans "INTP_description_11" %}</p>

<p>{% trans "INTP_description_12" %}</p>

<p>{% trans "INTP_description_13" %}</p>

<p><sub>{% trans "All_description" %}</sub></p>
