<p>{% trans "ISTJ_title" %}</p>

<p>{% trans "ISTJ_description_1" %}</p>

<p>{% trans "ISTJ_description_2" %}</p>

<p>{% trans "ISTJ_description_3" %}</p>

<p>{% trans "ISTJ_description_4" %}</p>

<p>{% trans "ISTJ_description_5" %}</p>

<p>{% trans "ISTJ_description_6" %}</p>

<p>{% trans "ISTJ_description_7" %}</p>

<p>{% trans "ISTJ_description_8" %}</p>

<p>{% trans "ISTJ_description_9" %}</p>

<p>{% trans "ISTJ_description_10" %}</p>

<p>{% trans "ISTJ_description_11" %}</p>

<p>{% trans "ISTJ_description_12" %}</p>

<p>{% trans "ISTJ_description_13" %}</p>

<p><sub>{% trans "All_description" %}</sub></p>
