<p>{% trans "ISTP_title" %}</p>

<p>{% trans "ISTP_description_1" %}</p>

<p>{% trans "ISTP_description_2" %}</p>

<p>{% trans "ISTP_description_3" %}</p>

<p>{% trans "ISTP_description_4" %}</p>

<p>{% trans "ISTP_description_5" %}</p>

<p>{% trans "ISTP_description_6" %}</p>

<p>{% trans "ISTP_description_7" %}</p>

<p>{% trans "ISTP_description_8" %}</p>

<p>{% trans "ISTP_description_9" %}</p>

<p>{% trans "ISTP_description_10" %}</p>

<p>{% trans "ISTP_description_11" %}</p>

<p>{% trans "ISTP_description_12" %}</p>

<p>{% trans "ISTP_description_13" %}</p>

<p><sub>{% trans "All_description" %}</sub></p>
